body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    }

   
    /* header h1 {
    margin: 0;
    font-size: 36px;
    } */
    .container {
        margin-top: 2vw;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    .intro {
    text-align: center;
    margin-bottom: 40px;
    }
    .intro h2 {
        margin-top: 5vw;
    font-size: 2vw;
    margin-bottom: 20px;
    color: #00B8EA;
    }
    .intro p {
    font-size: 1.5vw;
    }
    .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    }
    .content .box {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    min-width: 300px;
    position: relative;
    display: flex;
    align-items: flex-start;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #00B8EA, #00CFBF) 1;
    margin-bottom: 4vw;

    }
    
    .content .box img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    }
    .content .box h3 {
        font-size: 2vw;
        margin-bottom: 2vw;
    color: #00B8EA;
    }
    .content .box p {
        font-size: 1.5vw;
        color: #555;
    }
    .content .box div {
    text-align: right;
    }
    .images {
    margin: 40px 0;
    text-align: center;
    }
    .images img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 2vw;
    }
    /* footer {
    background: linear-gradient(2deg, #00B8EA, #00CFBF);
    color: white;
    padding: 10px;
    text-align: center;
    }
    footer p {
    margin: 0;
    }
     */
    @media (max-width: 768px) {
    .content {
    flex-direction: column;
    }
    }