
.login-nav li a {
    font-size: 1.2vw;
    text-decoration: none;
    color: #00c7cd;
    border: .17vw solid #00c7cd;
    padding: .5vw 1vw;
    border-radius: 3vw;
    transition: all 0.3s ease;
}

nav ul li a.active {
    font-size: 1vw;
    padding: .7vw 1.2vw;
    border-radius: 45vw;
    background-color: #ffffff; 
    color: #ffffff;
}
#signup{

        color: #ffffff;

}
#signup:hover{

    color: #00c7cd;

}
.login-section {
   display: flex;
   justify-content: center; 
}

.login-shape {
   
    display: flex;
    margin-top: 3vw;
    margin-bottom: 3vw;
justify-content: center;
    background-color: #fff;
    border-radius: 2vw; 
    /* border: solid 0.2vw #00c7cd; */
    padding: 5vw;
    width: 50%; 
    height: auto;
    z-index: 3;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

.signup-section {
    display: flex;
   justify-content: center; 
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 15vw; /
}

.icon-image {
    width: 0.5vw;  
    max-width: 17vw; 
    height: auto; 
    z-index: 2;
}

.phone-image {
    position: relative;
    top: -13vw;  
    left: -8vw;  
    width: 0.5vw;  
    max-width: 15vw; 
    height: auto;
    z-index: 1;
}



/* Login Form  */
.login-form {
    text-align: right;
    width: 25vw; 
}

.login-form h2 {
    font-size: 2vw;
    margin-bottom: 2vw;
    color: #1E255E;
}

.login-form label {
    font-size: 1vw;
    display: block;
    margin-bottom: .5vw;
    color: #1E255E;

}

.login-form input {
    width: 100%;
    padding: 1vw;
    margin-bottom: 2vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    font-size: 1vw;
}

.login-btn {
    background: linear-gradient(271.33deg, #00B8EA 6.29%, #00D6B1 107.87%); 
    color: white; 
    padding: 1vw;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    transition: background 0.3s, border 0.3s, color 0.3s; 
}

.login-btn:hover {
    background: transparent; 
    border: 2px solid #00c7cd; 
    color: #00c7cd; 
}


.create-account {
    color: #1E255E;

    text-align: center;
    margin-top: 2vw;
    font-size: 1vw;
}
.forgot-password{
    text-align: end;
    margin-bottom: 1.5vw;
    font-size: 1vw;
}

.forgot-password a, .create-account a {
    color: #0072ff;
    text-decoration: none;
}

.password-field {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    left: 1vw;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 2vw; 
    height: auto;
}



@media (max-width: 768px) {

    .login-section, .signup-section {
        justify-content: center;
        align-items: center;
        margin: 5vw auto;
    }

    .login-shape {
        width: 90%;
        padding: 6vw 4vw;
        margin: 0 auto;
    }

    .image-container {
        display: none;
    }

    .login-form {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .login-form h2 {
        font-size: 3vw;
    }

    .login-form label {
        font-size: 2.5vw;
    }

    .login-form input {
        padding: 1.5vw;
        font-size: 2.8vw;
    }

    .login-btn {
        padding: 2vw;
        font-size: 3vw;
    }

    .forgot-password, .create-account {
        font-size: 2.5vw;
        margin-top: 2vw;
        text-align: center;
    }

    .toggle-password img {
        width: 3.5vw;
    }

    .login-nav li a {
        font-size: 3vw;
        padding: 1.5vw 2.5vw;
    }
}
